@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* header*/
.perfil{
    border-radius: 50%;
    width: 190px;
    height: 207px;
    display:block;
    margin:auto;
}

/*main*/
main{
    margin-top: 0%;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #007B8E;
    text-transform: uppercase;
    letter-spacing: 0.5cm;
    margin-top: 0%;
}
hr{
    background-color: #007B8E;
    height: 2px;
    font-family: 'Roboto', sans-serif;
}
.section h3{
    background-color: #007B8E;
    color: #ffffff;
    letter-spacing: 0.2cm;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 70%;
}

.section{
    margin: auto;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    list-style:none;
    color: #007B8E;
    text-decoration: none;
}

/*footer*/
footer{
    margin-top: 0%;
    background-color: #007B8E;
    width: auto;
    text-align: center;
}
.fa-linkedin-in{
    color: #ffffff;
    margin-left: 20px;
    size: 3px;
}
.fa-envelope{
    color: #ffffff;
    margin-left: 20 px;
    size: 3px;
}
.fa-whatsapp{
    color: #ffffff;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}